*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#loom-companion-mv3 {
    display: none;
}

:root{
    --background: #d3d3d3;
    --calculator: #858585;
    --gray: #333;
    --lightgray: #9b9b9b;
    --orange: #e4bb07;
    --fontSize: 30px;
    --fontColor: #ffffff;
}

body{
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

div{
    background-color:var(--calculator);
    height: 530px;
    width: 400px;

    padding: 20px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

input{
    grid-row: 1/3;
    grid-column: 1/5;
    border:none;
    border-radius: 5px;
    text-align: right;
    font-size: var(--fontSize);
    margin-bottom: 15px;
    overflow: scroll;
}

button{
    border:none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 0.7;
}

.orange-button{
    background-color: var(--orange);
    font-size: var(--fontSize);
}

.gray-button{
    background-color: var(--gray);
    font-size: var(--fontSize);
    color: var(--fontColor);
}

.lightgray-button{
    background-color: var(--lightgray);
    font-size: var(--fontSize);
}

.equal{
    grid-column: 3/5;
}